In [2]:
num1 = 10
print(num1)
print("Datatype of num1 is", type(num1))

num2 = 2.5
print(num2)
print("Datatype of num1 is", type(num2))

num3 = 2+6j
print(num3)
print("Datatype of num1 is", type(num3))

10
Datatype of num1 is <class 'int'>
2.5
Datatype of num1 is <class 'float'>
(2+6j)
Datatype of num1 is <class 'complex'>

In [3]:
x = 5
y = -6

# Performing arithmetic operations
sum_result = x + y
difference_result = x - y
multiplication_result = x * y
division_result = x / y
# Printing the results
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Multiplication:", multiplication_result)
print("Division:", division_result)

Sum: -1
Difference: 11
Multiplication: -30
Division: -0.8333333333333334

In [4]:
a = 10
b = 20
# Comparing the values
greater_than = a > b
less_than_or_equal = a <= b
equal_to = a == b
not_equal_to = a != b
# Printing the results
print("Greater than:", greater_than)
print("Less than or equal to:", less_than_or_equal)
print("Equal to:", equal_to)
print("Not equal to:", not_equal_to)

Greater than: False
Less than or equal to: True
Equal to: False
Not equal to: True

In [5]:
x = 3.14
y = 2.5
# Performing arithmetic operations
sum_result = x + y
difference_result = x - y
multiplication_result = x * y
division_result = x / y
# Printing the results
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Multiplication:", multiplication_result)
print("Division:", division_result)

Sum: 5.640000000000001
Difference: 0.6400000000000001
Multiplication: 7.8500000000000005
Division: 1.256

In [6]:
a = 1.2
b = 2.7
# Comparing the values
greater_than = a > b
less_than_or_equal = a <= b
equal_to = a == b
not_equal_to = a != b
# Printing the results
print("Greater than:", greater_than)
print("Less than or equal to:", less_than_or_equal)
print("Equal to:", equal_to)
print("Not equal to:", not_equal_to)

Greater than: False
Less than or equal to: True
Equal to: False
Not equal to: True

In [7]:
x = 2 + 3j
y = -1 + 2j
# Performing arithmetic operations
sum_result = x + y
difference_result = x - y
multiplication_result = x * y
division_result = x / y
# Printing the results
print("Sum:", sum_result)
print("Difference:", difference_result)
print("Multiplication:", multiplication_result)
print("Division:", division_result)

Sum: (1+5j)
Difference: (3+1j)
Multiplication: (-8+1j)
Division: (0.8-1.4j)

In [8]:
a = 1 + 2j
b = 3 + 4j
# Comparing the values
equal_to = a == b
not_equal_to = a != b
# Printing the results
print("Equal to:", equal_to)
print("Not equal to:", not_equal_to)

Equal to: False
Not equal to: True

In [7]:
st1 = "ICT Department 3EK1"
print(st1)
print(st1[0])
print(st1[0:4])

ICT Department 3EK1
I
ICT

In [17]:
st1 = "ICT"
st2 = "Department"
st3 = "3EK1"
print(st1+st2+st3)

ICTDepartment3EK1

In [9]:
print(4*st1)

ICT Department 3EK1ICT Department 3EK1ICT Department 3EK1ICT Department 3EK1

In [11]:
st1 = "ICT Department 3EK1"
print("p" in st1)

True

In [19]:
print("f" not in st1)

True

In [20]:
list1=[123,567,89] 
print(list1)

list2=["hello","how","are"] 
print(list2)

list3= ["hey",1223,"hello"] 
print(list3)

[123, 567, 89]
['hello', 'how', 'are']
['hey', 1223, 'hello']

In [21]:
list1=["apple","mango",123,345]
list2 = ["grapes"]
print(list1+ list2)

['apple', 'mango', 123, 345, 'grapes']

In [ ]:
dict1 = {"comp": "computer", "sci": "science"}
print(dict1["comp"])
dict2 = {"123": "computer", 456: "maths"}
print(dict2["123"])
print(dict1["comp"] + dict2["123"])

combined_dict = {**dict1, **dict2}
print(combined_dict)

computer
computer
computercomputer
{'comp': 'computer', 'sci': 'science', '123': 'computer', 456: 'maths'}

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 + set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [37]:
my_tuple = (1, 2, 3, 4, 5)
t1 = (2,3,4)
t2 = (5,6,7)
print(t1+t2)

(2, 3, 4, 5, 6, 7)

In [ ]:
#postlab-1
for i in range(5):
    print("Welcome to Python")

print()

Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python

In [ ]:
#postlab-2
print("a\ta^2\ta^3")
print("1\t1\t1")
print("2\t4\t8")
print("3\t9\t27")
print("4\t16\t64")

print()

a	a^2	a^3
1	1	1
2	4	8
3	9	27
4	16	64

In [ ]:
#postlab-3
result = (9.5 * 4.5 - 2.5 * 3) / (45.5 - 3.5)
print("The result of (9.5 × 4.5 - 2.5 × 3) / (45.5 - 3.5) is:", result)

print()

The result of (9.5 × 4.5 - 2.5 × 3) / (45.5 - 3.5) is: 0.8392857142857143