In [2]:
# Create a Python Tuple
numbers = (1, 2, -5)
print(numbers)

(1, 2, -5)

In [3]:
a_tuple = (0, [1, 2, 3], (4, 5, 6), 7.0)
print(a_tuple)

(0, [1, 2, 3], (4, 5, 6), 7.0)

In [4]:
languages = ('Python', 'Swift', 'C++')
languages = ('Python', 'Swift', 'C++')
# access the first item
print(languages[0])   # Python

Python

In [36]:
cars = ('BMW', 'Tesla', 'Ford', 'Toyota')
print('Total Items:', len(cars))
name = "# Manthan Dobariya"
print(name)

Total Items: 4
# Manthan Dobariya

In [37]:
a = tuple(range(5))
print(a)
name = "# Manthan Dobariya"
print(name)

(0, 1, 2, 3, 4)
# Manthan Dobariya

In [38]:
b = tuple(range(5,10))
print(b)
name = "# Manthan Dobariya"
print(name)

(5, 6, 7, 8, 9)
# Manthan Dobariya

In [39]:
c = tuple(range(0,10,2))
print(c)
name = "# Manthan Dobariya"
print(name)

(0, 2, 4, 6, 8)
# Manthan Dobariya

In [40]:
d = tuple(range(10,0,-2))
print(d)
name = "# Manthan Dobariya"
print(name)

(10, 8, 6, 4, 2)
# Manthan Dobariya

In [42]:
t1 = (2,3,4,5)
print(sum(t1))
name = "# Manthan Dobariya"
print(name)

14
# Manthan Dobariya

In [43]:
t3 = (3,4,4,2,2,3,6,7,4,4)
print(t3.count(4))
name = "# Manthan Dobariya"
print(name)

4
# Manthan Dobariya

In [44]:
t3 = (3,4,4,2,2,3,6,7,4,4)
print(t3.index(2))
print(t3.index(4,3,9))
name = "# Manthan Dobariya"
print(name)

3
8
# Manthan Dobariya

In [45]:
t3 = (3,4,4,2,2,3,6,7,4,4)
print(min(t3))
name = "# Manthan Dobariya"
print(name)

2
# Manthan Dobariya

In [46]:
numbers = (7, 2, 8, 5, 9)
print(max(numbers))
name = "# Manthan Dobariya"
print(name)

9
# Manthan Dobariya

In [47]:
a = (5,6,7,5,5,9,7)
b = ("a","b","v","b")
my_tu_1 = tuple(dict.fromkeys(a))
print(my_tu_1)
my_tu_2 = tuple(dict.fromkeys(b))
print(my_tu_2)
name = "# Manthan Dobariya"
print(name)

(5, 6, 7, 9)
('a', 'b', 'v')
# Manthan Dobariya

In [48]:
first_names = ('Simon', 'Sarah', 'Mehdi', 'Fatime')
last_names = ('Sinek', 'Smith', 'Lotfinejad', 'Lopes')
ages = (49, 55, 39, 33)
zipped = tuple(zip(first_names, last_names,ages))
print(zipped)
name = "# Manthan Dobariya"
print(name)

(('Simon', 'Sinek', 49), ('Sarah', 'Smith', 55), ('Mehdi', 'Lotfinejad', 39), ('Fatime', 'Lopes', 33))
# Manthan Dobariya

In [49]:
b = ((1,2),(3,4),(5,6))
my = tuple(item for l in b for item in l)
print(my)
name = "# Manthan Dobariya"
print(name)

(1, 2, 3, 4, 5, 6)
# Manthan Dobariya

In [50]:
my_tuple = (1, 2, 3, 2, 4, 2, 5)
count = my_tuple.count(2)
print("Occurrences of 2 :", count)
name = "# Manthan Dobariya"
print(name)

Occurrences of 2 : 3
# Manthan Dobariya

In [51]:
my_tuple = (10, 20, 30, 40)
element = 30

if element in my_tuple:
    print(f"{element} exists in the tuple.")
else:
    print(f"{element} does not exist in the tuple.")
name = "# Manthan Dobariya"
print(name)

30 exists in the tuple.
# Manthan Dobariya

In [52]:
my_tuple = ('M', 'A', 'N', 'T', 'H', 'A', 'N')
result = ''.join(my_tuple)
print("String:", result)
name = "# Manthan Dobariya"
print(name)

String: MANTHAN
# Manthan Dobariya

In [53]:
my_tuple = (5, 2, 8, 1, 9)
maximum = max(my_tuple)
minimum = min(my_tuple)
print("Maximum:", maximum)
print("Minimum:", minimum)
name = "# Manthan Dobariya"
print(name)

Maximum: 9
Minimum: 1
# Manthan Dobariya

In [54]:
my_tuple = ('My','Name','is', 'Manthan')
result = ' '.join(my_tuple)
print("Single string:", result)
name = "# Manthan Dobariya"
print(name)

Single string: My Name is Manthan
# Manthan Dobariya

In [55]:
my_tuple = (3, 1, 4, 2, 5)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:", sorted_tuple)
name = "# Manthan Dobariya"
print(name)

Sorted tuple: (1, 2, 3, 4, 5)
# Manthan Dobariya

In [56]:
my_tuple = (10, 20, 30, 40, 50)
first = my_tuple[0]
last = my_tuple[-1]
print("First element:", first)
print("Last element:", last)
name = "# Manthan Dobariya"
print(name)

First element: 10
Last element: 50
# Manthan Dobariya