In [1]:
import pandas as pd
# Creating a Series
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
print(series)
print("manthan dobariya")

0    1
1    2
2    3
3    4
4    5
dtype: int64
manthan dobariya

In [2]:
# Arithmetic Operations
series2 = series + 10
print(series2)
# Filtering
filtered_series = series[series > 2]
print(filtered_series)
# Statistical Calculations
mean_value = series.mean()
print(mean_value)
print("manthan dobariya")

0    11
1    12
2    13
3    14
4    15
dtype: int64
2    3
3    4
4    5
dtype: int64
3.0
manthan dobariya

In [3]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)
print("manthan dobariya")

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
manthan dobariya

In [4]:
# Accessing Columns (# select one column)
print(df[['Name']])
print("manthan dobariya")

      Name
0    Alice
1      Bob
2  Charlie
manthan dobariya

In [5]:
df['Salary'] = [70000, 80000, 90000]
print(df)
print("manthan dobariya")

      Name  Age         City  Salary
0    Alice   25     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   35      Chicago   90000
manthan dobariya

In [6]:
df = df.drop('City', axis=1)
print(df)
print("manthan dobariya")

      Name  Age  Salary
0    Alice   25   70000
1      Bob   30   80000
2  Charlie   35   90000
manthan dobariya

In [7]:
# Return row 0:
print(df.loc[[0]])
print("manthan dobariya")

    Name  Age  Salary
0  Alice   25   70000
manthan dobariya

In [8]:
print(df.loc[[0, 1]])
print("manthan dobariya")

    Name  Age  Salary
0  Alice   25   70000
1    Bob   30   80000
manthan dobariya

In [9]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

print("manthan dobariya")

      calories  duration
day1       420        50
day2       380        40
day3       390        45
manthan dobariya

In [10]:
dat = pd.read_csv("data.csv")
print(dat)

print("manthan dobariya")

   Name City  Number
0     A    M       1
1     B    N       4
2     C    V       5
3     D    B       7
4     E    J       8
5     F    G       9
6     G    F       7
7     H    D       5
8     I    C       6
9     J    X       7
10    K    Z       3
11    L    S       4
12    M    R       6
manthan dobariya

In [ ]:
Biodata = {'Name': ['John', 'Emily', 'Mike', 'Lisa'],
        'Age': [28, 23, 35, 31],
        'Gender': ['M', 'F', 'M', 'F']
        }
df = pd.DataFrame(Biodata)
# Save the dataframe to a CSV file
df.to_csv('Biodata.csv', index=False)
print(Biodata.csv)

print("manthan dobariya")

    Name  Age Gender
0   John   28      M
1  Emily   23      F
2   Mike   35      M
3   Lisa   31      F
manthan dobariya

In [12]:
dat = pd.read_csv("data.csv")
print(dat.info())
# shows first and last five rows
print(dat.head())
print(dat.tail())
print(dat.describe())

print("manthan dobariya")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    13 non-null     object
 1   City    13 non-null     object
 2   Number  13 non-null     int64
dtypes: int64(1), object(2)
memory usage: 444.0+ bytes
None
  Name City  Number
0    A    M       1
1    B    N       4
2    C    V       5
3    D    B       7
4    E    J       8
   Name City  Number
8     I    C       6
9     J    X       7
10    K    Z       3
11    L    S       4
12    M    R       6
          Number
count  13.000000
mean    5.538462
std     2.183857
min     1.000000
25%     4.000000
50%     6.000000
75%     7.000000
max     9.000000
manthan dobariya

In [13]:
print(dat[['Name']])
print(dat[['Name','Number']])
print(dat.loc[[1]])

print("manthan dobariya")

   Name
0     A
1     B
2     C
3     D
4     E
5     F
6     G
7     H
8     I
9     J
10    K
11    L
12    M
   Name  Number
0     A       1
1     B       4
2     C       5
3     D       7
4     E       8
5     F       9
6     G       7
7     H       5
8     I       6
9     J       7
10    K       3
11    L       4
12    M       6
  Name City  Number
1    B    N       4
manthan dobariya

In [17]:
import pandas as pd
import numpy as np

# Create DataFrame with 5 numeric columns
data = {
    'A': [np.nan, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'B': np.random.normal(50, 15, 10),
    'C': np.random.rand(10) * 100,
    'D': np.linspace(1, 10, 10),
    'E': np.logspace(1, 2, 10)
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df, "\n")

# Modify column A
df['A'] = df['A'] * 2
print("After modifying A (A*2):\n", df, "\n")

# Create new column F = A + B
df['F'] = df['A'] + df['B']
print("After creating column F (A+B):\n", df, "\n")

# Drop column A
df = df.drop(columns=['A'])
print("After dropping column A:\n", df, "\n")

# Drop row with index 0
df = df.drop(index=[0])
print("After dropping row 0:\n", df, "\n")

print("manthan dobariya")

Original DataFrame:
       A          B          C     D           E
0   NaN  50.009286   2.480896   1.0   10.000000
1   2.0  44.910381  42.357341   2.0   12.915497
2   3.0  29.916531  66.015421   3.0   16.681005
3   4.0  28.721979  50.931674   4.0   21.544347
4   5.0  53.296938  10.892886   5.0   27.825594
5   6.0  40.707793  46.853590   6.0   35.938137
6   7.0  42.701797  67.781156   7.0   46.415888
7   8.0  55.322066   8.402286   8.0   59.948425
8   9.0  53.058547  43.474039   9.0   77.426368
9  10.0  34.103819  96.994434  10.0  100.000000

After modifying A (A*2):
       A          B          C     D           E
0   NaN  50.009286   2.480896   1.0   10.000000
1   4.0  44.910381  42.357341   2.0   12.915497
2   6.0  29.916531  66.015421   3.0   16.681005
3   8.0  28.721979  50.931674   4.0   21.544347
4  10.0  53.296938  10.892886   5.0   27.825594
5  12.0  40.707793  46.853590   6.0   35.938137
6  14.0  42.701797  67.781156   7.0   46.415888
7  16.0  55.322066   8.402286   8.0   59.948425
8  18.0  53.058547  43.474039   9.0   77.426368
9  20.0  34.103819  96.994434  10.0  100.000000

After creating column F (A+B):
       A          B          C     D           E          F
0   NaN  50.009286   2.480896   1.0   10.000000        NaN
1   4.0  44.910381  42.357341   2.0   12.915497  48.910381
2   6.0  29.916531  66.015421   3.0   16.681005  35.916531
3   8.0  28.721979  50.931674   4.0   21.544347  36.721979
4  10.0  53.296938  10.892886   5.0   27.825594  63.296938
5  12.0  40.707793  46.853590   6.0   35.938137  52.707793
6  14.0  42.701797  67.781156   7.0   46.415888  56.701797
7  16.0  55.322066   8.402286   8.0   59.948425  71.322066
8  18.0  53.058547  43.474039   9.0   77.426368  71.058547
9  20.0  34.103819  96.994434  10.0  100.000000  54.103819

After dropping column A:
            B          C     D           E          F
0  50.009286   2.480896   1.0   10.000000        NaN
1  44.910381  42.357341   2.0   12.915497  48.910381
2  29.916531  66.015421   3.0   16.681005  35.916531
3  28.721979  50.931674   4.0   21.544347  36.721979
4  53.296938  10.892886   5.0   27.825594  63.296938
5  40.707793  46.853590   6.0   35.938137  52.707793
6  42.701797  67.781156   7.0   46.415888  56.701797
7  55.322066   8.402286   8.0   59.948425  71.322066
8  53.058547  43.474039   9.0   77.426368  71.058547
9  34.103819  96.994434  10.0  100.000000  54.103819

After dropping row 0:
            B          C     D           E          F
1  44.910381  42.357341   2.0   12.915497  48.910381
2  29.916531  66.015421   3.0   16.681005  35.916531
3  28.721979  50.931674   4.0   21.544347  36.721979
4  53.296938  10.892886   5.0   27.825594  63.296938
5  40.707793  46.853590   6.0   35.938137  52.707793
6  42.701797  67.781156   7.0   46.415888  56.701797
7  55.322066   8.402286   8.0   59.948425  71.322066
8  53.058547  43.474039   9.0   77.426368  71.058547
9  34.103819  96.994434  10.0  100.000000  54.103819

manthan dobariya

In [18]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40])
s2 = pd.Series([1, 2, 3, 4])

print("Addition:\n", s1 + s2)
print("Subtraction:\n", s1 - s2)
print("Multiplication:\n", s1 * s2)
print("Division:\n", s1 / s2)
print("manthan dobariya")

Addition:
 0    11
1    22
2    33
3    44
dtype: int64
Subtraction:
 0     9
1    18
2    27
3    36
dtype: int64
Multiplication:
 0     10
1     40
2     90
3    160
dtype: int64
Division:
 0    10.0
1    10.0
2    10.0
3    10.0
dtype: float64
manthan dobariya

In [19]:
import pandas as pd

data = {"a": 100, "b": 200, "c": 300}
s = pd.Series(data)
print(s)
print("manthan dobariya")

a    100
b    200
c    300
dtype: int64
manthan dobariya

In [20]:
import pandas as pd
import numpy as np

# From list
s1 = pd.Series([10, 20, 30])
print("From list:\n", s1)

# From numpy array
s2 = pd.Series(np.array([1, 2, 3, 4]))
print("\nFrom numpy array:\n", s2)

# From dictionary
s3 = pd.Series({"x": 10, "y": 20, "z": 30})
print("\nFrom dictionary:\n", s3)

print("manthan dobariya")

From list:
 0    10
1    20
2    30
dtype: int64

From numpy array:
 0    1
1    2
2    3
3    4
dtype: int64

From dictionary:
 x    10
y    20
z    30
dtype: int64
manthan dobariya

In [22]:
import pandas as pd

s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])

# Vertical (one below another)
vertical = pd.concat([s1, s2])
print("Vertical stack:\n", vertical)

# Horizontal (side by side → DataFrame)
horizontal = pd.concat([s1, s2], axis=1)
print("\nHorizontal stack:\n", horizontal)

print("manthan dobariya")

Vertical stack:
 0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

Horizontal stack:
    0  1
0  1  4
1  2  5
2  3  6
manthan dobariya