In [4]:
n = [2, 3, 4, 5]
result = 1
for num in n:
    result *= num
print("Product of all items:", result)
name = "# Manthan Dobariya"
print(name)

Product of all items: 120
# Manthan Dobariya

In [5]:
numbers = [10, 25, 7, 99, 30]
largest = max(numbers)
print("Largest number:", largest)
name = "# Manthan Dobariya"
print(name)

Largest number: 99
# Manthan Dobariya

In [6]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print("List after removing duplicates:", unique_numbers)
name = "# Manthan Dobariya"
print(name)

List after removing duplicates: [1, 2, 3, 4, 5]
# Manthan Dobariya

In [7]:
numbers = [1, 2, 2, 3, 3, 3, 4]
frequency = {}

for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1

print("Frequency of elements:", frequency)
name = "# Manthan Dobariya"
print(name)

Frequency of elements: {1: 1, 2: 2, 3: 3, 4: 1}
# Manthan Dobariya

In [8]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = list(set(list1) & set(list2))
print("Common items:", common)
name = "# Manthan Dobariya"
print(name)

Common items: [3, 4]
# Manthan Dobariya

In [9]:
numbers = [1, 2, 3, 4]
combined = int("".join(map(str, numbers)))
print("Single integer:", combined)
name = "# Manthan Dobariya"
print(name)

Single integer: 1234
# Manthan Dobariya

In [10]:
ages = [19, 26, 29]
print(ages)

[19, 26, 29]

In [11]:
a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [12]:
b = list(range(5,10))
print(b)

[5, 6, 7, 8, 9]

In [13]:
c = list(range(0,10,2))
print(c)

[0, 2, 4, 6, 8]

In [14]:
d = list(range(10,0,-2))
print(d)

[10, 8, 6, 4, 2]

In [15]:
List = ['Mathematics', 'chemistry', 1997, 2000]
List.append(20544)
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

In [16]:
List = ['Mathematics', 'chemistry', 1997, 2000]
# Insert at index 2 value 10087
List.insert(2, 10087)
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

In [17]:
List1 = [1, 2, 3]
List2 = [2, 3, 4, 5]
# Add List2 to List1
List1.extend(List2)
print(List1)

[1, 2, 3, 2, 3, 4, 5]

In [18]:
List = [1, 2, 3, 4, 5]
print(sum(List))

15

In [19]:
List = ['gfg', 'abc', 3]
print(sum(List))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.count(1))

List = ['a','b','c','d','a']
print(List.count('a'))

4
2

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(len(List))

10

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2))

1

In [ ]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1]
print(List.index(2, 2))

4

In [ ]:
numbers = [5, 2, 8, 1, 9]
print(min(numbers))
#abc

1

In [ ]:
numbers = [5, 2, 8, 1, 9]
print(max(numbers))
name = "# Manthan Dobariya"
print(name)

9
# Manthan Dobariya

In [ ]:
List = [2.3,4.445,3,5.33,1.054,2.5]
List.sort()
print(List)
name = "# Manthan Dobariya"
print(name)

[1.054, 2.3, 2.5, 3, 4.445, 5.33]
# Manthan Dobariya

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
#Reverse flag is set True
List.sort(reverse=True) 
print(List)   
name = "# Manthan Dobariya"
print(name)

[5.33, 4.445, 3, 2.5, 2.3, 1.054]
# Manthan Dobariya

In [ ]:
# creating a list
list = [1,2,3,4,5]
#reversing the list
list.reverse()
#printing the list
print(list)
name = "# Manthan Dobariya"
print(name)

[5, 4, 3, 2, 1]
# Manthan Dobariya

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop())
name = "# Manthan Dobariya"
print(name)

2.5
# Manthan Dobariya

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
print(List.pop(0))
name = "# Manthan Dobariya"
print(name)

2.3
# Manthan Dobariya

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
del List[0]
print(List)
name = "# Manthan Dobariya"
print(name)

[4.445, 3, 5.33, 1.054, 2.5]
# Manthan Dobariya

In [ ]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5]
List.remove(3)
print(List)
name = "# Manthan Dobariya"
print(name)

[2.3, 4.445, 5.33, 1.054, 2.5]
# Manthan Dobariya

In [ ]:
# Original lists
my_list_1 = [5, 2, 90, 24, 10, 2, 90, 34]
my_list_2 = ['a', 'a', 'a', 'b', 'c', 'd', 'd', 'e']

# Removing duplicates from list 1
my_list_2 = list(dict.fromkeys(my_list_2))
print(my_list_2)


name = "# Manthan Dobariya"
print(name)

['a', 'b', 'c', 'd', 'e']
# Manthan Dobariya

In [ ]:
my_list_1 = [5, 2, 90, 24, 10]
my_list_2 = [6, 3, 91, 25, 12]

# combined
my_combined_list = list(zip(my_list_1, my_list_2))
print(my_combined_list)
name = "# Manthan Dobariya"
print(name)

[(5, 6), (2, 3), (90, 91), (24, 25), (10, 12)]
# Manthan Dobariya

In [ ]:
my_list = ['a', 'a', 'a', 'b', 'c', 'd', 'd', 'e']
most_frequent_value = max(set(my_list), key=my_list.count)
print("The most common element is:", most_frequent_value)
name = "# Manthan Dobariya"
print(name)

The most common element is: a
# Manthan Dobariya

In [ ]:
# to flatten a list_of_lists by using list comprehension
list_of_lists = [[1, 2],
                 [3, 4],
                 [5, 6],
                 [7, 8]]
# using list comprehension
my_list = [item for List in list_of_lists for item in List]
print(my_list)
name = "# Manthan Dobariya"
print(name)

[1, 2, 3, 4, 5, 6, 7, 8]
# Manthan Dobariya